@page "/signin"

@using DocumentsApp.Data.Dtos.AccountDtos
@using DocumentsApp.Data.Exceptions

<PageTitle>DocumentsApp - Sign In</PageTitle>

<div class="w-100 text-left d-flex justify-content-center align-items-center my-4">

    <RadzenTemplateForm
        TItem="LoginAccountDto"
        Data="@_loginAccountDto"
        Style="width: 100%; max-width: 450px"
        Submit="@OnSubmit">

        <RadzenFieldset>

            <h2 class="text-center mt-2 mb-4">
                <strong>Sign In</strong>
            </h2>

            <div class="mb-4">

                <RadzenLabel Text="Email"/>

                <RadzenTextBox
                    Placeholder="Enter email..."
                    Name="Email"
                    Style="display: block"
                    @bind-Value="@_loginAccountDto.Email"/>

                <RadzenRequiredValidator
                    Component="Email"
                    Text="Email is required"
                    Popup="@true"
                    Style="position: absolute"/>

                <RadzenEmailValidator
                    Component="Email"
                    Text="Provide a valid email address"
                    Popup="@true"
                    Style="position: absolute"/>

            </div>

            <div class="mb-4">

                <RadzenLabel Text="Password"/>

                <RadzenPassword
                    Placeholder="Enter password..."
                    Name="Password"
                    Style="display: block"
                    @bind-Value="@_loginAccountDto.Password"/>

                <RadzenRequiredValidator
                    Component="Password"
                    Text="Password is required"
                    Popup="@true" Style="position: absolute"/>

            </div>

            <div class="w-100 text-end">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
            </div>

        </RadzenFieldset>

        <div class="w-100 text-start">
            <RadzenText TextStyle="TextStyle.Caption" Text="Do not have an account?"/>
            <a href="signup">
                <RadzenText TextStyle="TextStyle.Caption" Text="Create one here."/>
            </a>
        </div>

    </RadzenTemplateForm>

</div>


@code {
    readonly LoginAccountDto _loginAccountDto = new LoginAccountDto();


    private async Task OnSubmit(LoginAccountDto loginAccountDto)
    {
        throw new NotImplementedException();
    }

}