@page "/signup"
@using DocumentsApp.Data.Dtos.AccountDtos

<PageTitle>DocumentsApp - Sign Up</PageTitle>

<div class="w-100 text-left d-flex justify-content-center align-items-center my-4">

    <RadzenTemplateForm
        TItem="RegisterAccountDto"
        Data="@_registerAccountDto"
        Style="width: 100%; max-width: 450px"
        Submit="@OnSubmit">

        <RadzenFieldset>

            <h2 class="text-center mt-2 mb-4">
                <strong>Sign Up</strong>
            </h2>

            <div class="mb-4">

                <RadzenLabel Text="Accountname"/>

                <RadzenTextBox
                    Placeholder="Enter Accountname..."
                    Name="Accountname"
                    Style="display: block"
                    @bind-Value="@_registerAccountDto.UserName"/>

                <RadzenRequiredValidator
                    Component="Accountname"
                    Text="Accountname is required"
                    Popup="@true"
                    Style="position: absolute"/>

            </div>

            <div class="mb-4">

                <RadzenLabel Text="Email"/>

                <RadzenTextBox
                    Placeholder="Enter email..."
                    Name="Email"
                    Style="display: block"
                    @bind-Value="@_registerAccountDto.Email"/>

                <RadzenRequiredValidator
                    Component="Email"
                    Text="Email is required"
                    Popup="@true"
                    Style="position: absolute"/>

            </div>

            <div class="mb-4">

                <RadzenLabel Text="Password"/>

                <RadzenPassword
                    Placeholder="Enter password..."
                    Name="Password"
                    Style="display: block"
                    @bind-Value="@_registerAccountDto.Password"/>

                <RadzenRequiredValidator
                    Component="Password"
                    Text="Password is required"
                    Popup="@true" Style="position: absolute"/>


            </div>

            <div class="mb-4">

                <RadzenLabel Text="Confirm Password"/>

                <RadzenPassword
                    Placeholder="Confirm password..."
                    Name="ConfirmPassword"
                    Style="display: block"
                    @bind-Value="@_registerAccountDto.ConfirmPassword"/>

                <RadzenCompareValidator
                    Visible="@(!string.IsNullOrEmpty(_registerAccountDto.ConfirmPassword))"
                    Value="@_registerAccountDto.Password"
                    Component="ConfirmPassword"
                    Text="Passwords should be the same"
                    Popup="@true" Style="position: absolute" />


            </div>

            <div class="w-100 text-end">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
            </div>

        </RadzenFieldset>

        <div class="w-100 text-start">
            <RadzenText TextStyle="TextStyle.Caption" Text="Have an account?"/>
            <a href="signin">
                <RadzenText TextStyle="TextStyle.Caption" Text="Sign in here."/>
            </a>
        </div>

    </RadzenTemplateForm>

</div>

@code {
    readonly RegisterAccountDto _registerAccountDto = new RegisterAccountDto();

    void OnSubmit(RegisterAccountDto registerAccountDto)
    {
        // try catch if register is successful or not
        throw new NotImplementedException();
    }

}