@page "/auth/signup"
@using DocumentsApp.Data.Entities
@using Microsoft.AspNetCore.Identity
@using DocumentsApp.Shared.Dtos.AccountDtos
@using DocumentsApp.Shared.Notifications
@using System.Text
@using DocumentsApp.Shared.Dtos.Auth

@inject UserManager<Account> UserManager
@inject NotificationService NotificationService
@inject IAccountService AccountService

<PageTitle>DocumentsApp - Sign Up</PageTitle>

<div class="w-100 text-left d-flex justify-content-center align-items-center my-4">

    <RadzenTemplateForm
        TItem="RegisterDto"
        Data="@_registerDto"
        Style="width: 100%; max-width: 450px"
        Submit="() => OnSubmit(_registerDto)">

        <RadzenFieldset>

            <h2 class="text-center mt-2 mb-4">
                <strong>Sign Up</strong>
            </h2>

            <div class="mb-4">

                <RadzenLabel Text="Username"/>

                <RadzenTextBox
                    Placeholder="Enter Username..."
                    Name="Username"
                    Style="display: block"
                    @bind-Value="@_registerDto.UserName"/>

                <RadzenRequiredValidator
                    Component="Username"
                    Text="Username is required"
                    Popup="@true"
                    Style="position: absolute"/>

            </div>

            <div class="mb-4">

                <RadzenLabel Text="Email"/>

                <RadzenTextBox
                    Placeholder="Enter email..."
                    Name="Email"
                    Style="display: block"
                    @bind-Value="@_registerDto.Email"/>

                <RadzenRequiredValidator
                    Component="Email"
                    Text="Email is required"
                    Popup="@true"
                    Style="position: absolute"/>

                <RadzenEmailValidator
                    Component="Email"
                    Text="Provide a valid email address"
                    Popup="@true"
                    Style="position: absolute"/>

            </div>

            <div class="mb-4">

                <RadzenLabel Text="Password"/>

                <RadzenPassword
                    Placeholder="Enter password..."
                    Name="Password"
                    Style="display: block"
                    @bind-Value="@_registerDto.Password"/>

                <RadzenRequiredValidator
                    Component="Password"
                    Text="Password is required"
                    Popup="@true"
                    Style="position: absolute"/>


            </div>

            <div class="mb-4">

                <RadzenLabel Text="Confirm Password"/>

                <RadzenPassword
                    Placeholder="Confirm password..."
                    Name="ConfirmPassword"
                    Style="display: block"
                    @bind-Value="@_registerDto.ConfirmPassword"/>

                <RadzenRequiredValidator
                    Component="ConfirmPassword"
                    Text="Repeat your password"
                    Popup="@true"
                    Style="position: absolute"/>

                <RadzenCompareValidator
                    Visible="@(!string.IsNullOrEmpty(_registerDto.ConfirmPassword))"
                    Value="@_registerDto.Password"
                    Component="ConfirmPassword"
                    Text="Passwords should be the same"
                    Popup="@true"
                    Style="position: absolute"/>


            </div>

            <div class="w-100 text-end">
                <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Text="Submit"></RadzenButton>
            </div>

        </RadzenFieldset>

        <div class="w-100 text-start">
            <RadzenText TextStyle="TextStyle.Caption" Text="Have an account?"/>
            <a href="auth/signin">
                <RadzenText TextStyle="TextStyle.Caption" Text="Sign in here."/>
            </a>
        </div>

    </RadzenTemplateForm>

</div>

@code {

    readonly RegisterDto _registerDto = new();

    private async Task OnSubmit(RegisterDto registerDto)
    {
        var newAccount = new Account
        {
            UserName = _registerDto.UserName,
            Email = _registerDto.Email
        };

        var result = await UserManager.CreateAsync(newAccount, _registerDto.Password);

        if (result.Succeeded)
        {
            NotificationService.Notify(new SuccessNotification("Success", "Successfully registered an account."));
            NotificationService.Notify(new InfoNotification("Email confirmation", "Confirm your email before you sign in"));

            await AccountService.SubmitEmailConfirmationAsync(_registerDto.Email);
        }
        else
        {
            var sb = new StringBuilder();

            foreach (var identityError in result.Errors)
            {
                sb.Append($"{identityError.Description}\n");
            }
            NotificationService.Notify(new ErrorNotification("Could not sign up", sb.ToString()));
        }
    }

    

}